<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.firebaseauthdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/doctor_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/doctor_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ShowTeachableMomentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginUserActivity" />
        <!--<activity android:name=".ShowTeachableMomentsListActivity" />-->
        <activity android:name=".RegisterUser2Activity" />
        <activity android:name=".RegisterUser1Activity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".CreateTeachableMomentActivity" />
        <activity android:name=".ShowOneTeachableMomentActivity" />
        <activity android:name=".ShowTitleScreen"></activity>
        <activity android:name=".ShowMenuActivity"></activity>
        <activity android:name=".ShowImpressum"></activity>
        <activity android:name=".ShowUserRankingMostMomentsActivity"></activity>
        <activity android:name=".ShowUserRankingBestRatingActivity"></activity>
        <activity android:name=".ChangeMailActivity"></activity>
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".ReAuthenticateUserActivity"></activity>
        <activity android:name=".ShowMenuUserDataActivity"></activity>
    </application>

</manifest>